<article class="post" ng-if="isAdmin">
    <header>
        <div class="title">
            <h2>Edit User</h2>
            <p>Edit properties for {{user?.user_first_name}} {{user?.user_last_name}}</p>
        </div>
    </header>
    <strong>User Created: </strong>{{user?.user_created_time}}<br>
    <strong>Last Logged In: </strong>{{user?.last_login_time}}<br><br>
    <form #f="ngForm" novalidate>
        <div>
            <div>
                <div>
                    <label for="inputFirstName">First Name
                    <input type="text" id="inputFirstName" name="user_first_name" [ngModel]="user?.user_first_name" (ngModelChange)="user.user_first_name = $event" required autofocus></label>
                </div>
            </div>
            <div>
                <div>
                    <label for="inputLastName">Last Name
                    <input type="text" id="inputLastName" name="user_last_name" [ngModel]="user?.user_last_name" (ngModelChange)="user.user_last_name = $event" required></label>
                </div>
            </div>
        </div>
        <div>
            <label for="email">Email
            <input type="email" name="user_email" [ngModel]="user?.user_email" (ngModelChange)="user.user_email = $event" id="email"></label>
        </div>
        <div>
            <label for="userLevel">User Level
            <select name="user_level" [ngModel]="user?.user_level" (ngModelChange)="user.user_level = $event" id="userLevel">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select></label>
        </div>
        <div class="row">
            <div class="button-row">
                <button (click)="updateUser(f)" class="default-button">Save Changes</button>
            </div>
            <div class="button-row">
                <button (click)="resetPassword()">Reset Password</button>
            </div>
            <div class="button-row">
                <button (click)="displayModal=true" class="danger-button">Delete User</button>
            </div>
        </div>
    </form><br>
    <div class="alert alert-success" *ngIf="success">
        {{success}}
    </div>
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
</article>
<div id="popup1" class="modal-overlay" *ngIf="displayModal">
    <div class="popup">
        <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close" (click)="displayModal=false">&times;</span>
            <h4 class="modal-title" id="myModalLabel">Delete User</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete user: {{user.user_first_name}} {{user.user_last_name}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="small" (click)="displayModal=false">Cancel</button>
            <button type="button" class="small danger-button" data-dismiss="modal" (click)="deleteUser()">OK</button>
        </div>
    </div>
</div>