<section id="sidebar">

    <!-- Intro -->
    <app-page-header class="sidebar-intro"></app-page-header>
  
  
    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="https://www.instagram.com/rhapsodyfiber/" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <!--<li><a href="#" class="socicon-pinterest"><span class="label">Pinterest</span></a></li>-->
        <li><a href="http://rhapsodyfiber.etsy.com/" class="fa-etsy"><span class="label">Etsy</span></a></li>
        <li><a href="http://www.ravelry.com/yarns/brands/rhapsody-fiber-arts" class="fa-ravelry"><span class="label">Revelry</span></a></li>
        <li><a href="https://www.facebook.com/rhapsodyfiber" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="mailto:laurenkaypalmer@gmail.com" class="fa-envelope"><span class="label">Email</span></a></li>
  
      </ul>
      <p class="copyright">&copy; 2023 Rhapsody Fiber Arts. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
    </section>
  </section>