<header id="header" ng-controller="navMenuController">
    <nav class="main" id="admin-button" ng-if="$root.isAdmin">
        <ul>
            <li class="menu">
                <a class="fa-gear" href="#admin-menu">Admin</a>
            </li>
        </ul>
    </nav>
    <h1><a href="index.html">Rhapsody Fiber Arts</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/colorways">Colorways</a></li>
            <li><a href="/wholesale">Wholesale</a></li>
            <li><a href="/custom">Custom</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/rabbitry">Rabbitry</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
    <nav class="main" id="menu-button">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

