<article class="post">
    <header>
        <div class="title">
            <h2>Change Password</h2>
        </div>
    </header>
    <form #f="ngForm" (ngSubmit)="changePassword(f)">
        <div class="form-group">
            <label for="currentPassword" class="sr-only">Email address</label>
            <input type="password" id="currentPassword" name="currentPassword" ngModel #currentPassword="ngModel" class="form-control" placeholder="Current Password" (change)="clearError()" required autofocus>
        </div>
        <fieldset class="input-group-vertical">
            <div class="form-group">
                <label for="newPassword" class="sr-only">Email address</label>
                <input type="password" id="newPassword" name="newPassword" ngModel #newPassword="ngModel" class="form-control" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="sr-only">Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control" placeholder="Confirm New Password" required>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Change Password</button>
        </div>
    </form>
    <br>
    <div class="alert alert-success" *ngIf="success">
        Password successfully changed.
    </div>
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
</article>