<article class="post">
    <header>
        <div class="title">
            <h2 class="page-title">Colorways</h2>
        </div>
    </header>
    <div id="colorways_container">
        <div *ngFor="let category of colorways">
            <div class="colorway_category">{{category.colorway_category_name}}</div>
            <div *ngFor="let colorway of category.colorways">
                <div class="colorway_name">{{colorway.colorway_name}}</div>
                <div class="colorway_images">
                    <img [src]="imagePath+image.colorway_image_filename" class="colorway_image" *ngFor="let image of colorway.images">
                </div>
            </div>
        </div>
    </div>
</article>