<article class="post" ng-if="isAdmin">
    <header>
        <div class="title">
            <h2>Edit User</h2>
            <p>Edit properties for {{euc.user.user_first_name}} {{euc.user.user_last_name}}</p>
        </div>
    </header>
    <strong>User Created: </strong>{{euc.user.user_created_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}<br>
    <strong>Last Logged In: </strong>{{euc.user.last_login_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}<br><br>
    <form>
        <div>
            <div>
                <div>
                    <label for="inputFirstName">First Name
                    <input type="text" id="inputFirstName" ng-model="euc.user.user_first_name" required autofocus></label>
                </div>
            </div>
            <div>
                <div>
                    <label for="inputLastName">Last Name
                    <input type="text" id="inputLastName" ng-model="euc.user.user_last_name" required></label>
                </div>
            </div>
        </div>
        <div>
            <label for="email">Email
            <input type="email" ng-model="euc.user.user_email" id="email"></label>
        </div>
        <div>
            <label for="userLevel">User Level
            <select ng-model="euc.user.user_level" id="userLevel">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select></label>
        </div>
        <div class="row">
            <div class="button-row">
                <button ng-click="euc.updateUser()" class="default-button">Save Changes</button>
            </div>
            <div class="button-row">
                <button ng-click="euc.resetPassword(euc.user.user_email)">Reset Password</button>
            </div>
            <div class="button-row">
                <button ng-click="euc.displayModal=true" class="danger-button">Delete User</button>
            </div>
        </div>
    </form><br>
    <div class="alert alert-success" ng-show="euc.success">
        {{euc.successMessage}}
    </div>
    <div class="alert alert-danger" ng-show="euc.error">
        {{euc.error}}
    </div>
</article>
<div id="popup1" class="modal-overlay" ng-if="euc.displayModal">
    <div class="popup">
        <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close" ng-click="euc.displayModal=false">&times;</span>
            <h4 class="modal-title" id="myModalLabel">Delete User</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete user: {{euc.user.user_first_name}} {{euc.user.user_last_name}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="small" ng-click="euc.displayModal=false">Cancel</button>
            <button type="button" class="small danger-button" data-dismiss="modal" ng-click="euc.deleteUser()">OK</button>
        </div>
    </div>
</div>