<article class="post" ng-if="isAdmin">
    <header>
        <div class="title">
            <h2>Manage Users</h2>
            <p>Edit, Add, or Remove Users Here</p>
        </div>
    </header>
    <p><strong><a href="/admin/add-user">Add User</a></strong></p>
    <label>Existing Users</label>
    <table>
        <tr>
            <th ng-class="uc.selectedCls(uc.users,'user_first_name')">
                <a href="#" ng-click="uc.changeSorting(uc.users,'user_first_name')" class="sort-header">First Name</a>
            </th>
            <th ng-class="uc.selectedCls(uc.users,'user_last_name')">
                <a href="#" ng-click="uc.changeSorting(uc.users,'user_last_name')" class="sort-header">Last Name</a>
            </th>
            <th ng-class="uc.selectedCls(uc.users,'user_email')">
                <a href="#" ng-click="uc.changeSorting(uc.users,'user_email')" class="sort-header">Email</a>
            </th>
            <th ng-class="uc.selectedCls(uc.users,'user_level')">
                <a href="#" ng-click="uc.changeSorting(uc.users,'user_level')" class="sort-header">Level</a>
            </th>
        </tr>
        <tr ng-repeat="user in uc.users.data | orderBy: uc.users.sort.column:uc.users.sort.descending">
            <td><a href="/admin/edit-user/{{user.user_id}}">{{user.user_first_name}}</a></td>
            <td><a href="/admin/edit-user/{{user.user_id}}">{{user.user_last_name}}</a></td>
            <td><a href="/admin/edit-user/{{user.user_id}}">{{user.user_email}}</a></td>
            <td><a href="/admin/edit-user/{{user.user_id}}">{{user.user_level}}</a></td>
        </tr>
    </table>
</article>