<article class="post">
    <header>
        <div class="title">
            <h2 class="page-title">Manage Colorways</h2>
            <p>Manage Colorways, Images, and Categories</p>
        </div>
    </header>
    <div>
        <a href="#" ng-click="cwc.newColorway=true" ng-if="!cwc.newColorway">Add Colorway</a>
        <div ng-if="cwc.newColorway">
            <span class="colorway-edit-button"><a href="#" ng-click="cwc.newColorway=false">Cancel</a></span>
            <span class="colorway-edit-button"><a href="#" ng-click="cwc.addColorway()">Save</a></span>
            New Colorway Name
            <input type="text" ng-model="cwc.newColorwayName">
            Choose Category
            <select ng-model="cwc.newColorwayCategory">
                <option ng-repeat="addCategory in cwc.colorways" ng-value="addCategory.colorway_category_id">{{addCategory.colorway_category_name}}</option>
            </select>
        </div>
    </div>
    <div>
        <a href="#" ng-click="cwc.addCategory=true" ng-if="!cwc.addCategory">Add Colorway Category</a>
        <div ng-if="cwc.addCategory" class="new-colorway-editor">
            <span class="colorway-edit-button"><a href="#" ng-click="cwc.addCategory=false">Cancel</a></span>
            <span class="colorway-edit-button"><a href="#" ng-click="cwc.addColorwayCategory()">Save</a></span>
            New Category Name
            <input type="text" ng-model="cwc.newCategoryName">
        </div>
    </div>

    <div id="colorways_container">
        <div ng-repeat="category in cwc.colorways" ng-init="categoryIndex = $index" class="colorway_category_container">
            <div class="colorway_category">
                <div ng-if="!category.edit">
                    {{category.colorway_category_name}}
                    <span class="colorway-edit-button"><a href="#" ng-click="cwc.colorways[categoryIndex].edit=true">Edit</a></span>
                </div>
                <div ng-if="category.edit">
                    <span class="colorway-edit-button"><a href="#" ng-click="cwc.getColorways()">Cancel</a></span>
                    <span class="colorway-edit-button"><a href="#" ng-click="cwc.updateColorwayCategory(categoryIndex)">Save</a></span>
                    <span class="colorway-edit-button danger"><a href="#" ng-click="cwc.selectedCategory=category">Delete</a></span>
                    Edit Category Name
                    <input type="text" ng-model="cwc.colorways[categoryIndex].colorway_category_name">
                </div>
            </div>
            <div ng-repeat="colorway in category.colorways" ng-init="colorwayIndex = $index">
                <div class="colorway_name">
                    <div ng-if="!colorway.edit">
                        {{colorway.colorway_name}}
                        <span class="colorway-edit-button"><a href="#" ng-click="cwc.colorways[categoryIndex].colorways[colorwayIndex].edit=true">Edit</a></span>
                        <span class="colorway-edit-button"><a href="#" ng-click="cwc.colorways[categoryIndex].colorways[colorwayIndex].addImage=true">Add Image</a></span>
                    </div>
                    <div ng-if="colorway.edit">
                        <span class="colorway-edit-button"><a href="#" ng-click="cwc.getColorways()">Cancel</a></span>
                        <span class="colorway-edit-button"><a href="#" ng-click="cwc.updateColorway(categoryIndex, colorwayIndex)">Save</a></span>
                        <span class="colorway-edit-button danger"><a href="#" ng-click="cwc.selectedColorway=colorway">Delete</a></span>
                        Edit Colorway Name
                        <input type="text" ng-model="cwc.colorways[categoryIndex].colorways[colorwayIndex].colorway_name">
                        Choose New Category
                        <select ng-model="cwc.colorways[categoryIndex].colorways[colorwayIndex].colorway_category_id">
                            <option ng-repeat="internalCategory in cwc.colorways" ng-value="internalCategory.colorway_category_id">{{internalCategory.colorway_category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="colorway_images">
                    <div class="colorway_image" ng-repeat="image in colorway.images">
                        <img ng-src="{{cwc.imagePath}}{{image.colorway_image_filename}}">
                        <a href="#" ng-click="cwc.deleteColorwayImage(image.colorway_image_id)" class="fa-trash"> Remove</a>
                    </div>
                    <form name="cwc.imageUpload" class="colorway_image" ng-if="colorway.addImage">
                        <input
                                type="file"
                                ngf-select
                                ng-model="cwc.uploadFile"
                                name="uploadFile"
                                ngf-pattern="'image/*'"
                                accept="image/*"
                                ngf-max-size="20MB"
                        />
                        <img class="image-editor" ngf-thumbnail="cwc.uploadFile || '/images/thumb.png'"/>
                        <a href="#" ng-click="cwc.uploadImage(colorway.colorway_id)" class="fa-upload"> Add</a>
                        <i ng-show="cwc.imageUpload.file.$error.required">*required</i><br>
                        <i ng-show="cwc.imageUpload.file.$error.maxSize">File too large
                            {{cwc.uploadFile.size / 1000000|number:1}}MB: max 20M</i>
                        <p>{{cwc.uploadProgress}}</p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</article>
<div id="popup1" class="modal-overlay" ng-if="cwc.selectedCategory">
    <div class="popup">
        <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close" ng-click="cwc.selectedCategory=false">&times;</span>
            <h4 class="modal-title" id="myModalLabel">Delete Colorway Category</h4>
        </div>
        <div class="modal-body">
            <p>This will delete the entire colorway category: {{cwc.selectedCategory.colorway_category_name}} and all colorways and colorway images it contains.  This can't be undone.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="small" ng-click="cwc.selectedCategory=false">Cancel</button>
            <button type="button" class="small danger-button" data-dismiss="modal" ng-click="cwc.deleteColorwayCategory(cwc.selectedCategory.colorway_category_id)">OK</button>
        </div>
    </div>
</div>
<div id="popup1" class="modal-overlay" ng-if="cwc.selectedColorway">
    <div class="popup">
        <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close" ng-click="cwc.selectedColorway=false">&times;</span>
            <h4 class="modal-title" id="myModalLabel">Delete Colorway</h4>
        </div>
        <div class="modal-body">
            <p>This will delete the entire colorway {{cwc.selectedColorway.colorway_name}} and all colorway images it contains.  This can't be undone.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="small" ng-click="cwc.selectedColorway=false">Cancel</button>
            <button type="button" class="small danger-button" data-dismiss="modal" ng-click="cwc.deleteColorway(cwc.selectedColorway.colorway_id)">OK</button>
        </div>
    </div>
</div>